
body {
    background-color: rgba(119, 79, 143);
}

.recordItem textarea,input{
    height: 30px;
    width: 100%;
    /* background-color: inherit;
    border: none; */
}

table {
    background-color: rgba(240, 248, 255,0.5);
    border-style: hidden;
}

table td {
    border-collapse: collapse;
    border: 1px brown solid;
}
