
body {
    background-color: rgba(119, 79, 143);
}

table thead {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 120%;
    text-align: center;
    font-weight: bolder;

}

#patient_info p {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 120%;
    text-align: center;
    margin: 0%;
}


